.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}
.view-btn {
    background-color: #3498db;
}
.price-btn {
    background-color: #fff52fff;
}