.btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    border: none;
}
.font-size-24 {
    font-size: 24px;
}
.font-size-22 {
    font-size: 22px;
}
.font-size-16 {
    font-size: 16px;
}
.bold {
    font-weight: 900;
}